<script defer src="/js/authorization.js"></script>

<h1>authorization</h1>

<form name="formBlock" class="formBlock" id="formAut">
  <div class="mb-3">
    <label for="disabledSelect" class="form-label">first of all, be sure to select a category</label>
    <select name="category" id="disabledSelect" class="form-select">
      <option>bartender</option>
      <option>company</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
