<script defer src="/js/registration.js"></script>
<h1>registration</h1>
<form name="formBlock" class="formBlock" id="formReg">
  <div class="mb-3">
    <label for="disabledSelect" class="form-label">first of all, be sure to select a category</label>
    <select name="category" id="disabledSelect" class="form-select">
      <option>bartender</option>
      <option>company</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Name</label>
    <input name="name" class="form-control">
  </div>
    <div class="mb-3">
    <label for="disabledSelect" class="form-label">select a country</label>
    <select name="country" id="disabledSelect" class="form-select">
    {{#each countryAll}}
    <option id={{id}} value={{id}}>{{name}}</option>
    {{/each}}
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
